.usersPage{
    margin: 20px;
}
.usersPage>*{
    margin-bottom: 30px;
}

.user{
    display: flex;
    border: green 2px solid;
    width: 40%;
    justify-content: space-around;

}

.ava{
    width: 200px;
}
.paginationBtns{

}
.paginationBtns>*{
    margin-left: 25px;
   display: inline-block;
    cursor: pointer;
}
.selected{
    font-weight: bold;
    color: orangered;
    border: 2px solid orange;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
}
