.usersPage{
    margin: 20px;
}
.usersPage>*{
    margin-bottom: 30px;
}

.user{
    display: flex;
    border: green 2px solid;
    width: 40%;
    justify-content: space-around;

}

.ava{
    width: 200px;
}
