.app-wrapper {
    display: grid;

    grid-template-areas:
            "h h "
            "n c ";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    /*gap: 10px;*/
    min-height: 100vh;
}

.Content {
    grid-area: c;
    background-color: lightskyblue;
}


.Content img {
    width: 100%;
}





