.Dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialog {

}
.active{
    color: greenyellow;
}

.messages {
    padding: 10px;
}

.msg {

}
